html{ overflow: auto;}

body{
     margin: 0px;
     padding: 0px;
     font-family: arial, sans-serif;
}

h1,h2,h3{
	color: #679000;
	font-family: Helvetica, 'HelveticaRounded Bold', Arial, sans-serif;
	text-shadow: #E0E0E0 2px 2px 1px;
	text-align: center;
}

ul{
	list-style-image: url(http://www.nearsoft.com/templates/nearsoft/images/bullet.png);
}

div#content-container{
	width: 800px;
	margin: 0 auto;
}

div#content{
	width: 800px;
	margin 0 auto;
	text-align: center;
	
}

table.center {margin-left:auto; margin-right:auto;}

div#nav-container{
	width: 240px;
	margin: 0 auto;
}

div#page-wrap{
	width: 900px;
	min-height: 660px;
	margin: 0 auto;
	background: url(../images/wrap.jpg) repeat-y;
	padding: 10px 60px 10px 60px;
}

div#footer{
	padding-top: 50px;
}

div#sidebar{
	width: 200px;
	float:left;
	z-index: 40;
}

div.separator{
	float:left;
	width: 51px;
	background: url(../images/separator.png) no-repeat;
}

hr.ns-divisor{
	border-color:#e44d23;
	border-style: solid; 
	margin: 0 auto;
	width: 900px;
	margin-right: 20px;
}

img#nearsoft-logo{
	padding-left: 30px;
	padding-top: 10px;
}

img#nearsoft-slogan{
	padding-left: 10px;
}

img#nearsoft-photo2{
	position:absolute;
	top: 260px; left: 437px;
	z-index: 50;
}

ul#nav{
	list-style: none;
	display: inline;
}

ul#nav li{
	float: left;
	width: 100px;
	text-align: center;
}

a{
	color:#e44d23;
	text-decoration: none;
}

a:hover{
	color:#616A74;
	text-decoration: underline;
}

.center{
	text-align: center;
}

.copyright{
	color: #616A74;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 40px;
	margin: 9px auto 300px;
	text-align: center;
}

.clear { clear: both; }